* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_black: #0c0c0c;
  --color_white: #ffffff;
}

img {
  width: 500px;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color_black);
}

body {
  background-color: var(--color_black);
  color: var(--color_white);
}
